<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
		  WELCOME {{req.session.email}}
		 <a href="/logout" class="pull-right">Logout</a>
        {{{body}}}
      </div>
  </body>
</html>
