<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container">
		  WELCOME {{req.session.email}}
		  <a href="/users" class=" btn">Users</a>
		  <a href="/pages" class=" btn">Pages</a>
		 <a href="/logout" class="pull-right btn">Logout</a>
        {{{body}}}
      </div>
  </body>
</html>
