
			<h1>{{title}} </h1>
			<div>
				<form action="/pages/add" method="post">
					<div class="form-group">
						<input type="text" name="title" value="" placeholder="Title" class="form-control">
					</div>
					<div class="form-group">
						<textarea name="description" value="" placeholder="Description"  class="form-control"></textarea>
					</div>
					<div class="form-group">
						<textarea name="keywords" value="" placeholder="Keywords"  class="form-control"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" name="submit" value="Submit" class="btn btn-success ">
					</div>
				</form>

			</div>